* {
    padding: 0px;
    margin: 0px;
}

.textWrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textWrap h2{
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color:rgb(40, 49, 100);
    font-family: 'Courier New', Courier, monospace;
}

input {
    width: 400px;
    padding: 10px;
    font-size: 16px;
}

#searchBtn {
    background-color: #aaa;
    color: #fff;
    font-size: 16px;
    padding: 12px;
}

#trendBtn {
    background-color: #aaa;
    color: #fff;
    font-size: 16px;
    padding: 12px;
}

.image-container {
    line-height: auto; 
    column-count: 5;
    column-gap: 5px;
    margin :  50px 20px 0px;
    float: left;
}

.image-container img {
    height: auto;
    width: 100%;
}

.image-container p {
    line-height: 20px;
}

.loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}
